factorio_recipes-node-red_regex_flow.json
[{"id":"ce629d4f.091a9","type":"debug","z":"3e5fc9a5.1f6226","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":260,"wires":[]},{"id":"c13f8e33.8256e","type":"inject","z":"3e5fc9a5.1f6226","name":"","topic":"","payload":"{category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 9, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 3, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.assembling-machine-1\"}, localised_name = {\"entity-name.assembling-machine-1\"}, name = \"assembling-machine-1\", order = \"a[assembling-machine-1]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"assembling-machine-1\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"copper-plate\", type = \"item\"}, {amount = 1, name = \"iron-gear-wheel\", type = \"item\"}}, localised_description = {\"recipe-description.automation-science-pack\"}, localised_name = {\"item-name.automation-science-pack\"}, name = \"automation-science-pack\", order = \"a[automation-science-pack]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"automation-science-pack\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 4, name = \"iron-plate\", type = \"item\"}}, localised_description = {\"recipe-description.firearm-magazine\"}, localised_name = {\"item-name.firearm-magazine\"}, name = \"firearm-magazine\", order = \"a[basic-clips]-a[firearm-magazine]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"firearm-magazine\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"copper-plate\", type = \"item\"}}, localised_description = {\"recipe-description.pistol\"}, localised_name = {\"item-name.pistol\"}, name = \"pistol\", order = \"a[basic-clips]-a[pistol]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"pistol\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 3, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"copper-plate\", type = \"item\"}, {amount = 1, name = \"steel-plate\", type = \"item\"}, {amount = 1, name = \"firearm-magazine\", type = \"item\"}}, localised_description = {\"recipe-description.piercing-rounds-magazine\"}, localised_name = {\"item-name.piercing-rounds-magazine\"}, name = \"piercing-rounds-magazine\", order = \"a[basic-clips]-b[piercing-rounds-magazine]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"piercing-rounds-magazine\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"copper-plate\", type = \"item\"}, {amount = 10, name = \"iron-gear-wheel\", type = \"item\"}}, localised_description = {\"recipe-description.submachine-gun\"}, localised_name = {\"item-name.submachine-gun\"}, name = \"submachine-gun\", order = \"a[basic-clips]-b[submachine-gun]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"submachine-gun\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"uranium-238\", type = \"item\"}, {amount = 1, name = \"piercing-rounds-magazine\", type = \"item\"}}, localised_description = {\"recipe-description.uranium-rounds-magazine\"}, localised_name = {\"item-name.uranium-rounds-magazine\"}, name = \"uranium-rounds-magazine\", order = \"a[basic-clips]-c[uranium-rounds-magazine]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"uranium-rounds-magazine\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 15, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"copper-cable\", type = \"item\"}, {amount = 20, name = \"electronic-circuit\", type = \"item\"}, {amount = 20, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.beacon\"}, localised_name = {\"entity-name.beacon\"}, name = \"beacon\", order = \"a[beacon]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"beacon\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}, {amount = 1, name = \"iron-gear-wheel\", type = \"item\"}}, localised_description = {\"recipe-description.burner-inserter\"}, localised_name = {\"entity-name.burner-inserter\"}, name = \"burner-inserter\", order = \"a[burner-inserter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"burner-inserter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"copper-plate\", type = \"item\"}}, localised_description = {\"recipe-description.copper-cable\"}, localised_name = {\"item-name.copper-cable\"}, name = \"copper-cable\", order = \"a[copper-cable]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"copper-cable\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 2, name = \"advanced-circuit\", type = \"item\"}, {amount = 1, name = \"solar-panel\", type = \"item\"}}, localised_description = {\"recipe-description.solar-panel-equipment\"}, localised_name = {\"equipment-name.solar-panel-equipment\"}, name = \"solar-panel-equipment\", order = \"a[energy-source]-a[solar-panel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"solar-panel-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 200, name = \"processing-unit\", type = \"item\"}, {amount = 50, name = \"low-density-structure\", type = \"item\"}}, localised_description = {\"recipe-description.fusion-reactor-equipment\"}, localised_name = {\"equipment-name.fusion-reactor-equipment\"}, name = \"fusion-reactor-equipment\", order = \"a[energy-source]-b[fusion-reactor]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"fusion-reactor-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"wood\", type = \"item\"}, {amount = 2, name = \"copper-cable\", type = \"item\"}}, localised_description = {\"recipe-description.small-electric-pole\"}, localised_name = {\"entity-name.small-electric-pole\"}, name = \"small-electric-pole\", order = \"a[energy]-a[small-electric-pole]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"small-electric-pole\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"copper-plate\", type = \"item\"}, {amount = 2, name = \"steel-plate\", type = \"item\"}, {amount = 4, name = \"iron-stick\", type = \"item\"}}, localised_description = {\"recipe-description.medium-electric-pole\"}, localised_name = {\"entity-name.medium-electric-pole\"}, name = \"medium-electric-pole\", order = \"a[energy]-b[medium-electric-pole]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"medium-electric-pole\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"copper-plate\", type = \"item\"}, {amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 8, name = \"iron-stick\", type = \"item\"}}, localised_description = {\"recipe-description.big-electric-pole\"}, localised_name = {\"entity-name.big-electric-pole\"}, name = \"big-electric-pole\", order = \"a[energy]-c[big-electric-pole]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"big-electric-pole\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"copper-plate\", type = \"item\"}, {amount = 10, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.substation\"}, localised_name = {\"entity-name.substation\"}, name = \"substation\", order = \"a[energy]-d[substation]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"substation\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"sulfur\", type = \"item\"}, {amount = 100, name = \"water\", type = \"fluid\"}}, localised_description = {\"recipe-description.sulfuric-acid\"}, localised_name = {\"fluid-name.sulfuric-acid\"}, name = \"sulfuric-acid\", order = \"a[fluid]-f[sulfuric-acid]\", overload_multiplier = 0, products = {{amount = 50, name = \"sulfuric-acid\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"coal\", type = \"item\"}, {amount = 5, name = \"iron-plate\", type = \"item\"}}, localised_description = {\"recipe-description.grenade\"}, localised_name = {\"item-name.grenade\"}, name = \"grenade\", order = \"a[grenade]-a[normal]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"grenade\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"explosives\", type = \"item\"}, {amount = 7, name = \"grenade\", type = \"item\"}}, localised_description = {\"recipe-description.cluster-grenade\"}, localised_name = {\"item-name.cluster-grenade\"}, name = \"cluster-grenade\", order = \"a[grenade]-b[cluster]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"cluster-grenade\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 3, name = \"iron-plate\", type = \"item\"}, {amount = 3, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 1, name = \"stone-furnace\", type = \"item\"}}, localised_description = {\"recipe-description.burner-mining-drill\"}, localised_name = {\"entity-name.burner-mining-drill\"}, name = \"burner-mining-drill\", order = \"a[items]-a[burner-mining-drill]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"burner-mining-drill\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"wood\", type = \"item\"}}, localised_description = {\"recipe-description.wooden-chest\"}, localised_name = {\"entity-name.wooden-chest\"}, name = \"wooden-chest\", order = \"a[items]-a[wooden-chest]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"wooden-chest\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 3, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.electric-mining-drill\"}, localised_name = {\"entity-name.electric-mining-drill\"}, name = \"electric-mining-drill\", order = \"a[items]-b[electric-mining-drill]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"electric-mining-drill\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 8, name = \"iron-plate\", type = \"item\"}}, localised_description = {\"recipe-description.iron-chest\"}, localised_name = {\"entity-name.iron-chest\"}, name = \"iron-chest\", order = \"a[items]-b[iron-chest]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"iron-chest\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 8, name = \"steel-plate\", type = \"item\"}}, localised_description = {\"recipe-description.steel-chest\"}, localised_name = {\"entity-name.steel-chest\"}, name = \"steel-chest\", order = \"a[items]-c[steel-chest]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"steel-chest\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 3, group = {__self = \"userdata\"}, ingredients = {{amount = 40, name = \"iron-plate\", type = \"item\"}}, localised_description = {\"recipe-description.light-armor\"}, localised_name = {\"item-name.light-armor\"}, name = \"light-armor\", order = \"a[light-armor]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"light-armor\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}, {amount = 3, name = \"copper-cable\", type = \"item\"}, {amount = 1, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.small-lamp\"}, localised_name = {\"entity-name.small-lamp\"}, name = \"small-lamp\", order = \"a[light]-a[small-lamp]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"small-lamp\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"oil-processing\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 100, fluidbox_index = 2, name = \"crude-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.basic-oil-processing\"}, localised_name = {\"recipe-name.basic-oil-processing\"}, name = \"basic-oil-processing\", order = \"a[oil-processing]-a[basic-oil-processing]\", overload_multiplier = 0, products = {{amount = 45, fluidbox_index = 3, name = \"petroleum-gas\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"oil-processing\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 50, name = \"water\", type = \"fluid\"}, {amount = 100, name = \"crude-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.advanced-oil-processing\"}, localised_name = {\"recipe-name.advanced-oil-processing\"}, name = \"advanced-oil-processing\", order = \"a[oil-processing]-b[advanced-oil-processing]\", overload_multiplier = 0, products = {{amount = 25, name = \"heavy-oil\", probability = 1, type = \"fluid\"}, {amount = 45, name = \"light-oil\", probability = 1, type = \"fluid\"}, {amount = 55, name = \"petroleum-gas\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"oil-processing\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"coal\", type = \"item\"}, {amount = 25, name = \"heavy-oil\", type = \"fluid\"}, {amount = 50, name = \"steam\", type = \"fluid\"}}, localised_description = {\"recipe-description.coal-liquefaction\"}, localised_name = {\"recipe-name.coal-liquefaction\"}, name = \"coal-liquefaction\", order = \"a[oil-processing]-c[coal-liquefaction]\", overload_multiplier = 0, products = {{amount = 90, name = \"heavy-oil\", probability = 1, type = \"fluid\"}, {amount = 20, name = \"light-oil\", probability = 1, type = \"fluid\"}, {amount = 10, name = \"petroleum-gas\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}}, localised_description = {\"recipe-description.pipe\"}, localised_name = {\"entity-name.pipe\"}, name = \"pipe\", order = \"a[pipe]-a[pipe]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"pipe\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-plate\", type = \"item\"}, {amount = 10, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.pipe-to-ground\"}, localised_name = {\"entity-name.pipe-to-ground\"}, name = \"pipe-to-ground\", order = \"a[pipe]-b[pipe-to-ground]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"pipe-to-ground\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"advanced-circuit\", type = \"item\"}, {amount = 1, name = \"flying-robot-frame\", type = \"item\"}}, localised_description = {\"recipe-description.logistic-robot\"}, localised_name = {\"entity-name.logistic-robot\"}, name = \"logistic-robot\", order = \"a[robot]-a[logistic-robot]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"logistic-robot\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"flying-robot-frame\", type = \"item\"}}, localised_description = {\"recipe-description.construction-robot\"}, localised_name = {\"entity-name.construction-robot\"}, name = \"construction-robot\", order = \"a[robot]-b[construction-robot]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"construction-robot\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 15, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"electronic-circuit\", type = \"item\"}, {amount = 5, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.speed-module\"}, localised_name = {\"item-name.speed-module\"}, name = \"speed-module\", order = \"a[speed]-a[speed-module-1]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"speed-module\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 30, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"advanced-circuit\", type = \"item\"}, {amount = 5, name = \"processing-unit\", type = \"item\"}, {amount = 4, name = \"speed-module\", type = \"item\"}}, localised_description = {\"recipe-description.speed-module-2\"}, localised_name = {\"item-name.speed-module-2\"}, name = \"speed-module-2\", order = \"a[speed]-b[speed-module-2]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"speed-module-2\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 60, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"advanced-circuit\", type = \"item\"}, {amount = 5, name = \"processing-unit\", type = \"item\"}, {amount = 5, name = \"speed-module-2\", type = \"item\"}}, localised_description = {\"recipe-description.speed-module-3\"}, localised_name = {\"item-name.speed-module-3\"}, name = \"speed-module-3\", order = \"a[speed]-c[speed-module-3]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"speed-module-3\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"smelting\", emissions_multiplier = 1, energy = 3.2000000000000002, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"stone\", type = \"item\"}}, localised_description = {\"recipe-description.stone-brick\"}, localised_name = {\"item-name.stone-brick\"}, name = \"stone-brick\", order = \"a[stone-brick]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"stone-brick\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"stone\", type = \"item\"}}, localised_description = {\"recipe-description.stone-furnace\"}, localised_name = {\"entity-name.stone-furnace\"}, name = \"stone-furnace\", order = \"a[stone-furnace]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"stone-furnace\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"stone-brick\", type = \"item\"}}, localised_description = {\"recipe-description.stone-wall\"}, localised_name = {\"entity-name.stone-wall\"}, name = \"stone-wall\", order = \"a[stone-wall]-a[stone-wall]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"stone-wall\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"stone\", type = \"item\"}, {amount = 1, name = \"steel-plate\", type = \"item\"}, {amount = 1, name = \"iron-stick\", type = \"item\"}}, localised_description = {\"recipe-description.rail\"}, localised_name = {\"item-name.rail\"}, name = \"rail\", order = \"a[train-system]-a[rail]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"rail\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 6, name = \"iron-plate\", type = \"item\"}, {amount = 3, name = \"steel-plate\", type = \"item\"}, {amount = 6, name = \"iron-stick\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.train-stop\"}, localised_name = {\"entity-name.train-stop\"}, name = \"train-stop\", order = \"a[train-system]-c[train-stop]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"train-stop\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"train-stop\", type = \"item\"}, {amount = 1, name = \"small-lamp\", type = \"item\"}, {amount = 2, name = \"red-wire\", type = \"item\"}, {amount = 2, name = \"green-wire\", type = \"item\"}, {amount = 1, name = \"constant-combinator\", type = \"item\"}}, localised_description = {\"recipe-description.logistic-train-stop\"}, localised_name = {\"entity-name.logistic-train-stop\"}, name = \"logistic-train-stop\", order = \"a[train-system]-c[train-stop]-c\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"logistic-train-stop\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-plate\", type = \"item\"}, {amount = 1, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.rail-signal\"}, localised_name = {\"entity-name.rail-signal\"}, name = \"rail-signal\", order = \"a[train-system]-d[rail-signal]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"rail-signal\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-plate\", type = \"item\"}, {amount = 1, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.rail-chain-signal\"}, localised_name = {\"entity-name.rail-chain-signal\"}, name = \"rail-chain-signal\", order = \"a[train-system]-e[rail-signal-chain]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"rail-chain-signal\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 4, group = {__self = \"userdata\"}, ingredients = {{amount = 30, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"electronic-circuit\", type = \"item\"}, {amount = 20, name = \"engine-unit\", type = \"item\"}}, localised_description = {\"recipe-description.locomotive\"}, localised_name = {\"entity-name.locomotive\"}, name = \"locomotive\", order = \"a[train-system]-f[diesel-locomotive]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"locomotive\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"iron-plate\", type = \"item\"}, {amount = 20, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"iron-gear-wheel\", type = \"item\"}}, localised_description = {\"recipe-description.cargo-wagon\"}, localised_name = {\"entity-name.cargo-wagon\"}, name = \"cargo-wagon\", order = \"a[train-system]-g[cargo-wagon]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"cargo-wagon\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 1.5, group = {__self = \"userdata\"}, ingredients = {{amount = 16, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 1, name = \"storage-tank\", type = \"item\"}, {amount = 8, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.fluid-wagon\"}, localised_name = {\"entity-name.fluid-wagon\"}, name = \"fluid-wagon\", order = \"a[train-system]-h[fluid-wagon]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"fluid-wagon\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 4, group = {__self = \"userdata\"}, ingredients = {{amount = 40, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 20, name = \"advanced-circuit\", type = \"item\"}, {amount = 64, name = \"engine-unit\", type = \"item\"}, {amount = 16, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.artillery-wagon\"}, localised_name = {\"entity-name.artillery-wagon\"}, name = \"artillery-wagon\", order = \"a[train-system]-i[artillery-wagon]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"artillery-wagon\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}, {amount = 1, name = \"iron-gear-wheel\", type = \"item\"}}, localised_description = {\"recipe-description.transport-belt\"}, localised_name = {\"entity-name.transport-belt\"}, name = \"transport-belt\", order = \"a[transport-belt]-a[transport-belt]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"transport-belt\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 1, name = \"transport-belt\", type = \"item\"}}, localised_description = {\"recipe-description.fast-transport-belt\"}, localised_name = {\"entity-name.fast-transport-belt\"}, name = \"fast-transport-belt\", order = \"a[transport-belt]-b[fast-transport-belt]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"fast-transport-belt\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 1, name = \"fast-transport-belt\", type = \"item\"}, {amount = 20, name = \"lubricant\", type = \"fluid\"}}, localised_description = {\"recipe-description.express-transport-belt\"}, localised_name = {\"entity-name.express-transport-belt\"}, name = \"express-transport-belt\", order = \"a[transport-belt]-c[express-transport-belt]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"express-transport-belt\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"steel-plate\", type = \"item\"}, {amount = 2, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"stone-wall\", type = \"item\"}}, localised_description = {\"recipe-description.gate\"}, localised_name = {\"entity-name.gate\"}, name = \"gate\", order = \"a[wall]-b[gate]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"gate\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 3, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"assembling-machine-1\", type = \"item\"}}, localised_description = {\"recipe-description.assembling-machine-2\"}, localised_name = {\"entity-name.assembling-machine-2\"}, name = \"assembling-machine-2\", order = \"b[assembling-machine-2]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"assembling-machine-2\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-ore\", type = \"item\"}, {amount = 5, name = \"stone-brick\", type = \"item\"}, {amount = 100, name = \"water\", type = \"fluid\"}}, localised_description = {\"recipe-description.concrete\"}, localised_name = {\"item-name.concrete\"}, name = \"concrete\", order = \"b[concrete]-a[plain]\", overload_multiplier = 0, products = {{amount = 10, catalyst_amount = 0, name = \"concrete\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.25, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"concrete\", type = \"item\"}}, localised_description = {\"recipe-description.hazard-concrete\"}, localised_name = {\"item-name.hazard-concrete\"}, name = \"hazard-concrete\", order = \"b[concrete]-b[hazard]\", overload_multiplier = 0, products = {{amount = 10, catalyst_amount = 0, name = \"hazard-concrete\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 15, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"steel-plate\", type = \"item\"}, {amount = 8, name = \"iron-stick\", type = \"item\"}, {amount = 20, name = \"concrete\", type = \"item\"}, {amount = 100, name = \"water\", type = \"fluid\"}}, localised_description = {\"recipe-description.refined-concrete\"}, localised_name = {\"item-name.refined-concrete\"}, name = \"refined-concrete\", order = \"b[concrete]-c[refined]\", overload_multiplier = 0, products = {{amount = 10, catalyst_amount = 0, name = \"refined-concrete\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.25, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"refined-concrete\", type = \"item\"}}, localised_description = {\"recipe-description.refined-hazard-concrete\"}, localised_name = {\"item-name.refined-hazard-concrete\"}, name = \"refined-hazard-concrete\", order = \"b[concrete]-d[refined-hazard]\", overload_multiplier = 0, products = {{amount = 10, catalyst_amount = 0, name = \"refined-hazard-concrete\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"crude-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.fill-crude-oil-barrel\"}, localised_name = {\"recipe-name.fill-barrel\", {\"fluid-name.crude-oil\"}}, name = \"fill-crude-oil-barrel\", order = \"b[fill-crude-oil-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"crude-oil-barrel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"heavy-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.fill-heavy-oil-barrel\"}, localised_name = {\"recipe-name.fill-barrel\", {\"fluid-name.heavy-oil\"}}, name = \"fill-heavy-oil-barrel\", order = \"b[fill-heavy-oil-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"heavy-oil-barrel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"light-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.fill-light-oil-barrel\"}, localised_name = {\"recipe-name.fill-barrel\", {\"fluid-name.light-oil\"}}, name = \"fill-light-oil-barrel\", order = \"b[fill-light-oil-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"light-oil-barrel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"lubricant\", type = \"fluid\"}}, localised_description = {\"recipe-description.fill-lubricant-barrel\"}, localised_name = {\"recipe-name.fill-barrel\", {\"fluid-name.lubricant\"}}, name = \"fill-lubricant-barrel\", order = \"b[fill-lubricant-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"lubricant-barrel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"petroleum-gas\", type = \"fluid\"}}, localised_description = {\"recipe-description.fill-petroleum-gas-barrel\"}, localised_name = {\"recipe-name.fill-barrel\", {\"fluid-name.petroleum-gas\"}}, name = \"fill-petroleum-gas-barrel\", order = \"b[fill-petroleum-gas-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"petroleum-gas-barrel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"sulfuric-acid\", type = \"fluid\"}}, localised_description = {\"recipe-description.fill-sulfuric-acid-barrel\"}, localised_name = {\"recipe-name.fill-barrel\", {\"fluid-name.sulfuric-acid\"}}, name = \"fill-sulfuric-acid-barrel\", order = \"b[fill-sulfuric-acid-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"sulfuric-acid-barrel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"water\", type = \"fluid\"}}, localised_description = {\"recipe-description.fill-water-barrel\"}, localised_name = {\"recipe-name.fill-barrel\", {\"fluid-name.water\"}}, name = \"fill-water-barrel\", order = \"b[fill-water-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"water-barrel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 30, name = \"water\", type = \"fluid\"}, {amount = 40, name = \"heavy-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.heavy-oil-cracking\"}, localised_name = {\"recipe-name.heavy-oil-cracking\"}, name = \"heavy-oil-cracking\", order = \"b[fluid-chemistry]-a[heavy-oil-cracking]\", overload_multiplier = 0, products = {{amount = 30, name = \"light-oil\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 30, name = \"water\", type = \"fluid\"}, {amount = 30, name = \"light-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.light-oil-cracking\"}, localised_name = {\"recipe-name.light-oil-cracking\"}, name = \"light-oil-cracking\", order = \"b[fluid-chemistry]-b[light-oil-cracking]\", overload_multiplier = 0, products = {{amount = 20, name = \"petroleum-gas\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"light-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.solid-fuel-from-light-oil\"}, localised_name = {\"item-name.solid-fuel\"}, name = \"solid-fuel-from-light-oil\", order = \"b[fluid-chemistry]-c[solid-fuel-from-light-oil]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"solid-fuel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"petroleum-gas\", type = \"fluid\"}}, localised_description = {\"recipe-description.solid-fuel-from-petroleum-gas\"}, localised_name = {\"item-name.solid-fuel\"}, name = \"solid-fuel-from-petroleum-gas\", order = \"b[fluid-chemistry]-d[solid-fuel-from-petroleum-gas]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"solid-fuel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"heavy-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.solid-fuel-from-heavy-oil\"}, localised_name = {\"item-name.solid-fuel\"}, name = \"solid-fuel-from-heavy-oil\", order = \"b[fluid-chemistry]-e[solid-fuel-from-heavy-oil]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"solid-fuel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 3, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"steel-plate\", type = \"item\"}}, localised_description = {\"recipe-description.storage-tank\"}, localised_name = {\"entity-name.storage-tank\"}, name = \"storage-tank\", order = \"b[fluid]-a[storage-tank]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"storage-tank\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 2, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.offshore-pump\"}, localised_name = {\"entity-name.offshore-pump\"}, name = \"offshore-pump\", order = \"b[fluids]-a[offshore-pump]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"offshore-pump\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}, {amount = 10, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.pumpjack\"}, localised_name = {\"entity-name.pumpjack\"}, name = \"pumpjack\", order = \"b[fluids]-b[pumpjack]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"pumpjack\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 100, name = \"copper-plate\", type = \"item\"}, {amount = 50, name = \"steel-plate\", type = \"item\"}}, localised_description = {\"recipe-description.heavy-armor\"}, localised_name = {\"item-name.heavy-armor\"}, name = \"heavy-armor\", order = \"b[heavy-armor]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"heavy-armor\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}, {amount = 1, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 1, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.inserter\"}, localised_name = {\"entity-name.inserter\"}, name = \"inserter\", order = \"b[inserter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"inserter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"smelting\", emissions_multiplier = 1, energy = 3.2000000000000002, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-ore\", type = \"item\"}}, localised_description = {\"recipe-description.iron-plate\"}, localised_name = {\"item-name.iron-plate\"}, name = \"iron-plate\", order = \"b[iron-plate]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"iron-plate\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}}, localised_description = {\"recipe-description.iron-stick\"}, localised_name = {\"item-name.iron-stick\"}, name = \"iron-stick\", order = \"b[iron-stick]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"iron-stick\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 6, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"transport-belt\", type = \"item\"}, {amount = 1, name = \"inserter\", type = \"item\"}}, localised_description = {\"recipe-description.logistic-science-pack\"}, localised_name = {\"item-name.logistic-science-pack\"}, name = \"logistic-science-pack\", order = \"b[logistic-science-pack]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"logistic-science-pack\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 8, name = \"engine-unit\", type = \"item\"}}, localised_description = {\"recipe-description.car\"}, localised_name = {\"entity-name.car\"}, name = \"car\", order = \"b[personal-transport]-a[car]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"car\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 50, name = \"steel-plate\", type = \"item\"}, {amount = 15, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 10, name = \"advanced-circuit\", type = \"item\"}, {amount = 32, name = \"engine-unit\", type = \"item\"}}, localised_description = {\"recipe-description.tank\"}, localised_name = {\"entity-name.tank\"}, name = \"tank\", order = \"b[personal-transport]-b[tank]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"tank\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 30, group = {__self = \"userdata\"}, ingredients = {{amount = 100, name = \"plastic-bar\", type = \"item\"}, {amount = 100, name = \"battery\", type = \"item\"}, {amount = 200, name = \"advanced-circuit\", type = \"item\"}, {amount = 20, name = \"electric-engine-unit\", type = \"item\"}}, localised_description = {\"recipe-description.small-plane\"}, localised_name = {\"item-name.small-plane\"}, name = \"small-plane\", order = \"b[personal-transport]-c[small-plane]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"small-plane\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"steel-plate\", type = \"item\"}, {amount = 1, name = \"engine-unit\", type = \"item\"}, {amount = 1, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.pump\"}, localised_name = {\"entity-name.pump\"}, name = \"pump\", order = \"b[pipe]-c[pump]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"pump\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"coal\", type = \"item\"}, {amount = 3, name = \"steel-plate\", type = \"item\"}, {amount = 3, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.poison-capsule\"}, localised_name = {\"item-name.poison-capsule\"}, name = \"poison-capsule\", order = \"b[poison-capsule]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"poison-capsule\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 2, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.repair-pack\"}, localised_name = {\"item-name.repair-pack\"}, name = \"repair-pack\", order = \"b[repair]-a[repair-pack]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"repair-pack\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.energy-shield-equipment\"}, localised_name = {\"equipment-name.energy-shield-equipment\"}, name = \"energy-shield-equipment\", order = \"b[shield]-a[energy-shield-equipment]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"energy-shield-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"processing-unit\", type = \"item\"}, {amount = 5, name = \"low-density-structure\", type = \"item\"}, {amount = 10, name = \"energy-shield-equipment\", type = \"item\"}}, localised_description = {\"recipe-description.energy-shield-mk2-equipment\"}, localised_name = {\"equipment-name.energy-shield-mk2-equipment\"}, name = \"energy-shield-mk2-equipment\", order = \"b[shield]-b[energy-shield-equipment-mk2]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"energy-shield-mk2-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"wood\", type = \"item\"}, {amount = 15, name = \"iron-plate\", type = \"item\"}, {amount = 10, name = \"copper-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}}, localised_description = {\"recipe-description.shotgun\"}, localised_name = {\"item-name.shotgun\"}, name = \"shotgun\", order = \"b[shotgun]-a[basic]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"shotgun\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 3, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"iron-plate\", type = \"item\"}, {amount = 2, name = \"copper-plate\", type = \"item\"}}, localised_description = {\"recipe-description.shotgun-shell\"}, localised_name = {\"item-name.shotgun-shell\"}, name = \"shotgun-shell\", order = \"b[shotgun]-a[basic]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"shotgun-shell\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"wood\", type = \"item\"}, {amount = 10, name = \"copper-plate\", type = \"item\"}, {amount = 15, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}}, localised_description = {\"recipe-description.combat-shotgun\"}, localised_name = {\"item-name.combat-shotgun\"}, name = \"combat-shotgun\", order = \"b[shotgun]-a[combat]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"combat-shotgun\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"copper-plate\", type = \"item\"}, {amount = 2, name = \"steel-plate\", type = \"item\"}, {amount = 2, name = \"shotgun-shell\", type = \"item\"}}, localised_description = {\"recipe-description.piercing-shotgun-shell\"}, localised_name = {\"item-name.piercing-shotgun-shell\"}, name = \"piercing-shotgun-shell\", order = \"b[shotgun]-b[piercing]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"piercing-shotgun-shell\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 4, name = \"pipe\", type = \"item\"}, {amount = 1, name = \"stone-furnace\", type = \"item\"}}, localised_description = {\"recipe-description.boiler\"}, localised_name = {\"entity-name.boiler\"}, name = \"boiler\", order = \"b[steam-power]-a[boiler]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"boiler\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-plate\", type = \"item\"}, {amount = 8, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 5, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.steam-engine\"}, localised_name = {\"entity-name.steam-engine\"}, name = \"steam-engine\", order = \"b[steam-power]-b[steam-engine]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"steam-engine\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 3, group = {__self = \"userdata\"}, ingredients = {{amount = 50, name = \"copper-plate\", type = \"item\"}, {amount = 50, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 20, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.steam-turbine\"}, localised_name = {\"entity-name.steam-turbine\"}, name = \"steam-turbine\", order = \"b[steam-power]-c[steam-turbine]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"steam-turbine\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 3, group = {__self = \"userdata\"}, ingredients = {{amount = 6, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"stone-brick\", type = \"item\"}}, localised_description = {\"recipe-description.steel-furnace\"}, localised_name = {\"entity-name.steel-furnace\"}, name = \"steel-furnace\", order = \"b[steel-furnace]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"steel-furnace\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 3, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"advanced-circuit\", type = \"item\"}, {amount = 1, name = \"steel-chest\", type = \"item\"}}, localised_description = {\"recipe-description.logistic-chest-active-provider\"}, localised_name = {\"entity-name.logistic-chest-active-provider\"}, name = \"logistic-chest-active-provider\", order = \"b[storage]-c[logistic-chest-active-provider]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"logistic-chest-active-provider\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 3, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"advanced-circuit\", type = \"item\"}, {amount = 1, name = \"steel-chest\", type = \"item\"}}, localised_description = {\"recipe-description.logistic-chest-passive-provider\"}, localised_name = {\"entity-name.logistic-chest-passive-provider\"}, name = \"logistic-chest-passive-provider\", order = \"b[storage]-c[logistic-chest-passive-provider]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"logistic-chest-passive-provider\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 3, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"advanced-circuit\", type = \"item\"}, {amount = 1, name = \"steel-chest\", type = \"item\"}}, localised_description = {\"recipe-description.logistic-chest-storage\"}, localised_name = {\"entity-name.logistic-chest-storage\"}, name = \"logistic-chest-storage\", order = \"b[storage]-c[logistic-chest-storage]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"logistic-chest-storage\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 3, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"advanced-circuit\", type = \"item\"}, {amount = 1, name = \"steel-chest\", type = \"item\"}}, localised_description = {\"recipe-description.logistic-chest-buffer\"}, localised_name = {\"entity-name.logistic-chest-buffer\"}, name = \"logistic-chest-buffer\", order = \"b[storage]-d[logistic-chest-buffer]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"logistic-chest-buffer\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 3, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"advanced-circuit\", type = \"item\"}, {amount = 1, name = \"steel-chest\", type = \"item\"}}, localised_description = {\"recipe-description.logistic-chest-requester\"}, localised_name = {\"entity-name.logistic-chest-requester\"}, name = \"logistic-chest-requester\", order = \"b[storage]-e[logistic-chest-requester]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"logistic-chest-requester\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"iron-plate\", type = \"item\"}, {amount = 10, name = \"copper-plate\", type = \"item\"}, {amount = 10, name = \"iron-gear-wheel\", type = \"item\"}}, localised_description = {\"recipe-description.gun-turret\"}, localised_name = {\"entity-name.gun-turret\"}, name = \"gun-turret\", order = \"b[turret]-a[gun-turret]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"gun-turret\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 20, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"steel-plate\", type = \"item\"}, {amount = 12, name = \"battery\", type = \"item\"}, {amount = 20, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.laser-turret\"}, localised_name = {\"entity-name.laser-turret\"}, name = \"laser-turret\", order = \"b[turret]-b[laser-turret]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"laser-turret\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 20, group = {__self = \"userdata\"}, ingredients = {{amount = 30, name = \"steel-plate\", type = \"item\"}, {amount = 15, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 5, name = \"engine-unit\", type = \"item\"}, {amount = 10, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.flamethrower-turret\"}, localised_name = {\"entity-name.flamethrower-turret\"}, name = \"flamethrower-turret\", order = \"b[turret]-c[flamethrower-turret]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"flamethrower-turret\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 40, group = {__self = \"userdata\"}, ingredients = {{amount = 60, name = \"steel-plate\", type = \"item\"}, {amount = 40, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 20, name = \"advanced-circuit\", type = \"item\"}, {amount = 60, name = \"concrete\", type = \"item\"}}, localised_description = {\"recipe-description.artillery-turret\"}, localised_name = {\"entity-name.artillery-turret\"}, name = \"artillery-turret\", order = \"b[turret]-d[artillery-turret]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"artillery-turret\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"transport-belt\", type = \"item\"}}, localised_description = {\"recipe-description.underground-belt\"}, localised_name = {\"entity-name.underground-belt\"}, name = \"underground-belt\", order = \"b[underground-belt]-a[underground-belt]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"underground-belt\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 40, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 2, name = \"underground-belt\", type = \"item\"}}, localised_description = {\"recipe-description.fast-underground-belt\"}, localised_name = {\"entity-name.fast-underground-belt\"}, name = \"fast-underground-belt\", order = \"b[underground-belt]-b[fast-underground-belt]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"fast-underground-belt\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 80, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 2, name = \"fast-underground-belt\", type = \"item\"}, {amount = 40, name = \"lubricant\", type = \"fluid\"}}, localised_description = {\"recipe-description.express-underground-belt\"}, localised_name = {\"entity-name.express-underground-belt\"}, name = \"express-underground-belt\", order = \"b[underground-belt]-c[express-underground-belt]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"express-underground-belt\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"copper-cable\", type = \"item\"}, {amount = 1, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.red-wire\"}, localised_name = {\"item-name.red-wire\"}, name = \"red-wire\", order = \"b[wires]-a[red-wire]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"red-wire\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"copper-cable\", type = \"item\"}, {amount = 1, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.green-wire\"}, localised_name = {\"item-name.green-wire\"}, name = \"green-wire\", order = \"b[wires]-b[green-wire]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"green-wire\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"assembling-machine-2\", type = \"item\"}, {amount = 4, name = \"speed-module\", type = \"item\"}}, localised_description = {\"recipe-description.assembling-machine-3\"}, localised_name = {\"entity-name.assembling-machine-3\"}, name = \"assembling-machine-3\", order = \"c[assembling-machine-3]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"assembling-machine-3\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"battery\", type = \"item\"}}, localised_description = {\"recipe-description.battery-equipment\"}, localised_name = {\"equipment-name.battery-equipment\"}, name = \"battery-equipment\", order = \"c[battery]-a[battery-equipment]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"battery-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 15, name = \"processing-unit\", type = \"item\"}, {amount = 5, name = \"low-density-structure\", type = \"item\"}, {amount = 10, name = \"battery-equipment\", type = \"item\"}}, localised_description = {\"recipe-description.battery-mk2-equipment\"}, localised_name = {\"equipment-name.battery-mk2-equipment\"}, name = \"battery-mk2-equipment\", order = \"c[battery]-b[battery-equipment-mk2]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"battery-mk2-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"copper-cable\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.arithmetic-combinator\"}, localised_name = {\"entity-name.arithmetic-combinator\"}, name = \"arithmetic-combinator\", order = \"c[combinators]-a[arithmetic-combinator]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"arithmetic-combinator\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"copper-cable\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.decider-combinator\"}, localised_name = {\"entity-name.decider-combinator\"}, name = \"decider-combinator\", order = \"c[combinators]-b[decider-combinator]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"decider-combinator\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"copper-cable\", type = \"item\"}, {amount = 2, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.constant-combinator\"}, localised_name = {\"entity-name.constant-combinator\"}, name = \"constant-combinator\", order = \"c[combinators]-c[constant-combinator]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"constant-combinator\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"smelting\", emissions_multiplier = 1, energy = 3.2000000000000002, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"copper-ore\", type = \"item\"}}, localised_description = {\"recipe-description.copper-plate\"}, localised_name = {\"item-name.copper-plate\"}, name = \"copper-plate\", order = \"c[copper-plate]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"copper-plate\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 15, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"electronic-circuit\", type = \"item\"}, {amount = 5, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.effectivity-module\"}, localised_name = {\"item-name.effectivity-module\"}, name = \"effectivity-module\", order = \"c[effectivity]-a[effectivity-module-1]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"effectivity-module\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 30, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"advanced-circuit\", type = \"item\"}, {amount = 5, name = \"processing-unit\", type = \"item\"}, {amount = 4, name = \"effectivity-module\", type = \"item\"}}, localised_description = {\"recipe-description.effectivity-module-2\"}, localised_name = {\"item-name.effectivity-module-2\"}, name = \"effectivity-module-2\", order = \"c[effectivity]-b[effectivity-module-2]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"effectivity-module-2\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 60, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"advanced-circuit\", type = \"item\"}, {amount = 5, name = \"processing-unit\", type = \"item\"}, {amount = 5, name = \"effectivity-module-2\", type = \"item\"}}, localised_description = {\"recipe-description.effectivity-module-3\"}, localised_name = {\"item-name.effectivity-module-3\"}, name = \"effectivity-module-3\", order = \"c[effectivity]-c[effectivity-module-3]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"effectivity-module-3\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"advanced-circuit\", type = \"item\"}, {amount = 10, name = \"stone-brick\", type = \"item\"}}, localised_description = {\"recipe-description.electric-furnace\"}, localised_name = {\"entity-name.electric-furnace\"}, name = \"electric-furnace\", order = \"c[electric-furnace]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"electric-furnace\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"crude-oil-barrel\", type = \"item\"}}, localised_description = {\"recipe-description.empty-crude-oil-barrel\"}, localised_name = {\"recipe-name.empty-filled-barrel\", {\"fluid-name.crude-oil\"}}, name = \"empty-crude-oil-barrel\", order = \"c[empty-crude-oil-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", probability = 1, type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"crude-oil\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"heavy-oil-barrel\", type = \"item\"}}, localised_description = {\"recipe-description.empty-heavy-oil-barrel\"}, localised_name = {\"recipe-name.empty-filled-barrel\", {\"fluid-name.heavy-oil\"}}, name = \"empty-heavy-oil-barrel\", order = \"c[empty-heavy-oil-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", probability = 1, type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"heavy-oil\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"light-oil-barrel\", type = \"item\"}}, localised_description = {\"recipe-description.empty-light-oil-barrel\"}, localised_name = {\"recipe-name.empty-filled-barrel\", {\"fluid-name.light-oil\"}}, name = \"empty-light-oil-barrel\", order = \"c[empty-light-oil-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", probability = 1, type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"light-oil\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"lubricant-barrel\", type = \"item\"}}, localised_description = {\"recipe-description.empty-lubricant-barrel\"}, localised_name = {\"recipe-name.empty-filled-barrel\", {\"fluid-name.lubricant\"}}, name = \"empty-lubricant-barrel\", order = \"c[empty-lubricant-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", probability = 1, type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"lubricant\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"petroleum-gas-barrel\", type = \"item\"}}, localised_description = {\"recipe-description.empty-petroleum-gas-barrel\"}, localised_name = {\"recipe-name.empty-filled-barrel\", {\"fluid-name.petroleum-gas\"}}, name = \"empty-petroleum-gas-barrel\", order = \"c[empty-petroleum-gas-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", probability = 1, type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"petroleum-gas\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"sulfuric-acid-barrel\", type = \"item\"}}, localised_description = {\"recipe-description.empty-sulfuric-acid-barrel\"}, localised_name = {\"recipe-name.empty-filled-barrel\", {\"fluid-name.sulfuric-acid\"}}, name = \"empty-sulfuric-acid-barrel\", order = \"c[empty-sulfuric-acid-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", probability = 1, type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"sulfuric-acid\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 0.2, group = {__self = \"userdata\"}, ingredients = {{amount = 1, catalyst_amount = 1, name = \"water-barrel\", type = \"item\"}}, localised_description = {\"recipe-description.empty-water-barrel\"}, localised_name = {\"recipe-name.empty-filled-barrel\", {\"fluid-name.water\"}}, name = \"empty-water-barrel\", order = \"c[empty-water-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 1, name = \"empty-barrel\", probability = 1, type = \"item\"}, {amount = 50, catalyst_amount = 50, name = \"water\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"iron-plate\", type = \"item\"}}, localised_description = {\"recipe-description.iron-gear-wheel\"}, localised_name = {\"item-name.iron-gear-wheel\"}, name = \"iron-gear-wheel\", order = \"c[iron-gear-wheel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"iron-gear-wheel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"stone\", type = \"item\"}}, localised_description = {\"recipe-description.landfill\"}, localised_name = {\"item-name.landfill\"}, name = \"landfill\", order = \"c[landfill]-a[dirt]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"landfill\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}, {amount = 1, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 1, name = \"inserter\", type = \"item\"}}, localised_description = {\"recipe-description.long-handed-inserter\"}, localised_name = {\"entity-name.long-handed-inserter\"}, name = \"long-handed-inserter\", order = \"c[long-handed-inserter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"long-handed-inserter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"piercing-rounds-magazine\", type = \"item\"}, {amount = 1, name = \"grenade\", type = \"item\"}, {amount = 2, name = \"stone-wall\", type = \"item\"}}, localised_description = {\"recipe-description.military-science-pack\"}, localised_name = {\"item-name.military-science-pack\"}, name = \"military-science-pack\", order = \"c[military-science-pack]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"military-science-pack\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 15, group = {__self = \"userdata\"}, ingredients = {{amount = 50, name = \"steel-plate\", type = \"item\"}, {amount = 30, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.modular-armor\"}, localised_name = {\"item-name.modular-armor\"}, name = \"modular-armor\", order = \"c[modular-armor]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"modular-armor\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 15, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"electronic-circuit\", type = \"item\"}, {amount = 5, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.productivity-module\"}, localised_name = {\"item-name.productivity-module\"}, name = \"productivity-module\", order = \"c[productivity]-a[productivity-module-1]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"productivity-module\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 30, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"advanced-circuit\", type = \"item\"}, {amount = 5, name = \"processing-unit\", type = \"item\"}, {amount = 4, name = \"productivity-module\", type = \"item\"}}, localised_description = {\"recipe-description.productivity-module-2\"}, localised_name = {\"item-name.productivity-module-2\"}, name = \"productivity-module-2\", order = \"c[productivity]-b[productivity-module-2]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"productivity-module-2\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 60, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"advanced-circuit\", type = \"item\"}, {amount = 5, name = \"processing-unit\", type = \"item\"}, {amount = 5, name = \"productivity-module-2\", type = \"item\"}}, localised_description = {\"recipe-description.productivity-module-3\"}, localised_name = {\"item-name.productivity-module-3\"}, name = \"productivity-module-3\", order = \"c[productivity]-c[productivity-module-3]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"productivity-module-3\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 15, name = \"copper-plate\", type = \"item\"}, {amount = 15, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"electronic-circuit\", type = \"item\"}, {amount = 5, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.railgun\"}, localised_name = {\"item-name.railgun\"}, name = \"railgun\", order = \"c[railgun]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"railgun\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.railgun-dart\"}, localised_name = {\"item-name.railgun-dart\"}, name = \"railgun-dart\", order = \"c[railgun]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"railgun-dart\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 45, name = \"steel-plate\", type = \"item\"}, {amount = 45, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 45, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.roboport\"}, localised_name = {\"entity-name.roboport\"}, name = \"roboport\", order = \"c[signal]-a[roboport]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"roboport\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"coal\", type = \"item\"}, {amount = 2, name = \"steel-plate\", type = \"item\"}, {amount = 2, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.slowdown-capsule\"}, localised_name = {\"item-name.slowdown-capsule\"}, name = \"slowdown-capsule\", order = \"c[slowdown-capsule]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"slowdown-capsule\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}, {amount = 4, name = \"transport-belt\", type = \"item\"}}, localised_description = {\"recipe-description.splitter\"}, localised_name = {\"entity-name.splitter\"}, name = \"splitter\", order = \"c[splitter]-a[splitter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"splitter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 10, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"splitter\", type = \"item\"}}, localised_description = {\"recipe-description.fast-splitter\"}, localised_name = {\"entity-name.fast-splitter\"}, name = \"fast-splitter\", order = \"c[splitter]-b[fast-splitter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"fast-splitter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 10, name = \"advanced-circuit\", type = \"item\"}, {amount = 1, name = \"fast-splitter\", type = \"item\"}, {amount = 80, name = \"lubricant\", type = \"fluid\"}}, localised_description = {\"recipe-description.express-splitter\"}, localised_name = {\"entity-name.express-splitter\"}, name = \"express-splitter\", order = \"c[splitter]-c[express-splitter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"express-splitter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"processing-unit\", type = \"item\"}, {amount = 5, name = \"low-density-structure\", type = \"item\"}, {amount = 5, name = \"laser-turret\", type = \"item\"}}, localised_description = {\"recipe-description.personal-laser-defense-equipment\"}, localised_name = {\"equipment-name.personal-laser-defense-equipment\"}, name = \"personal-laser-defense-equipment\", order = \"d[active-defense]-a[personal-laser-defense-equipment]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"personal-laser-defense-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"processing-unit\", type = \"item\"}, {amount = 10, name = \"laser-turret\", type = \"item\"}}, localised_description = {\"recipe-description.discharge-defense-equipment\"}, localised_name = {\"equipment-name.discharge-defense-equipment\"}, name = \"discharge-defense-equipment\", order = \"d[active-defense]-b[discharge-defense-equipment]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"discharge-defense-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"steel-plate\", type = \"item\"}, {amount = 2, name = \"plastic-bar\", type = \"item\"}, {amount = 1, name = \"explosives\", type = \"item\"}}, localised_description = {\"recipe-description.cannon-shell\"}, localised_name = {\"item-name.cannon-shell\"}, name = \"cannon-shell\", order = \"d[cannon-shell]-a[basic]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"cannon-shell\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"steel-plate\", type = \"item\"}, {amount = 2, name = \"plastic-bar\", type = \"item\"}, {amount = 2, name = \"explosives\", type = \"item\"}}, localised_description = {\"recipe-description.explosive-cannon-shell\"}, localised_name = {\"item-name.explosive-cannon-shell\"}, name = \"explosive-cannon-shell\", order = \"d[cannon-shell]-c[explosive]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"explosive-cannon-shell\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 12, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"uranium-238\", type = \"item\"}, {amount = 1, name = \"cannon-shell\", type = \"item\"}}, localised_description = {\"recipe-description.uranium-cannon-shell\"}, localised_name = {\"item-name.uranium-cannon-shell\"}, name = \"uranium-cannon-shell\", order = \"d[cannon-shell]-c[uranium]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"uranium-cannon-shell\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 24, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"sulfur\", type = \"item\"}, {amount = 3, name = \"advanced-circuit\", type = \"item\"}, {amount = 2, name = \"engine-unit\", type = \"item\"}}, localised_description = {\"recipe-description.chemical-science-pack\"}, localised_name = {\"item-name.chemical-science-pack\"}, name = \"chemical-science-pack\", order = \"d[chemical-science-pack]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"chemical-science-pack\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"explosives\", type = \"item\"}, {amount = 1, name = \"empty-barrel\", type = \"item\"}, {amount = 1, name = \"grenade\", type = \"item\"}}, localised_description = {\"recipe-description.cliff-explosives\"}, localised_name = {\"item-name.cliff-explosives\"}, name = \"cliff-explosives\", order = \"d[cliff-explosives]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"cliff-explosives\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 3, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 3, name = \"electronic-circuit\", type = \"item\"}, {amount = 3, name = \"piercing-rounds-magazine\", type = \"item\"}}, localised_description = {\"recipe-description.defender-capsule\"}, localised_name = {\"item-name.defender-capsule\"}, name = \"defender-capsule\", order = \"d[defender-capsule]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"defender-capsule\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"steel-plate\", type = \"item\"}}, localised_description = {\"recipe-description.empty-barrel\"}, localised_name = {\"item-name.empty-barrel\"}, name = \"empty-barrel\", order = \"d[empty-barrel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"empty-barrel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 12, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"uranium-238\", type = \"item\"}, {amount = 1, name = \"explosive-cannon-shell\", type = \"item\"}}, localised_description = {\"recipe-description.explosive-uranium-cannon-shell\"}, localised_name = {\"item-name.explosive-uranium-cannon-shell\"}, name = \"explosive-uranium-cannon-shell\", order = \"d[explosive-cannon-shell]-c[uranium]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"explosive-uranium-cannon-shell\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 15, group = {__self = \"userdata\"}, ingredients = {{amount = 8, name = \"explosives\", type = \"item\"}, {amount = 4, name = \"explosive-cannon-shell\", type = \"item\"}, {amount = 1, name = \"radar\", type = \"item\"}}, localised_description = {\"recipe-description.artillery-shell\"}, localised_name = {\"item-name.artillery-shell\"}, name = \"artillery-shell\", order = \"d[explosive-cannon-shell]-d[artillery]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"artillery-shell\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"iron-plate\", type = \"item\"}, {amount = 2, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"inserter\", type = \"item\"}}, localised_description = {\"recipe-description.fast-inserter\"}, localised_name = {\"entity-name.fast-inserter\"}, name = \"fast-inserter\", order = \"d[fast-inserter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"fast-inserter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}, {amount = 5, name = \"transport-belt\", type = \"item\"}, {amount = 5, name = \"inserter\", type = \"item\"}}, localised_description = {\"recipe-description.loader\"}, localised_name = {\"entity-name.loader\"}, name = \"loader\", order = \"d[loader]-a[basic-loader]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"loader\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 3, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"fast-transport-belt\", type = \"item\"}, {amount = 1, name = \"loader\", type = \"item\"}}, localised_description = {\"recipe-description.fast-loader\"}, localised_name = {\"entity-name.fast-loader\"}, name = \"fast-loader\", order = \"d[loader]-b[fast-loader]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"fast-loader\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"express-transport-belt\", type = \"item\"}, {amount = 1, name = \"fast-loader\", type = \"item\"}}, localised_description = {\"recipe-description.express-loader\"}, localised_name = {\"entity-name.express-loader\"}, name = \"express-loader\", order = \"d[loader]-c[express-loader]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"express-loader\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"copper-cable\", type = \"item\"}, {amount = 2, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.power-switch\"}, localised_name = {\"entity-name.power-switch\"}, name = \"power-switch\", order = \"d[other]-a[power-switch]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"power-switch\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 3, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"copper-cable\", type = \"item\"}, {amount = 4, name = \"iron-stick\", type = \"item\"}, {amount = 4, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.programmable-speaker\"}, localised_name = {\"entity-name.programmable-speaker\"}, name = \"programmable-speaker\", order = \"d[other]-b[programmable-speaker]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"programmable-speaker\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 20, group = {__self = \"userdata\"}, ingredients = {{amount = 40, name = \"steel-plate\", type = \"item\"}, {amount = 40, name = \"processing-unit\", type = \"item\"}, {amount = 20, name = \"electric-engine-unit\", type = \"item\"}}, localised_description = {\"recipe-description.power-armor\"}, localised_name = {\"item-name.power-armor\"}, name = \"power-armor\", order = \"d[power-armor]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"power-armor\", probability = 1, type = \"item\"}}, request_paste_multiplier = 1, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.radar\"}, localised_name = {\"entity-name.radar\"}, name = \"radar\", order = \"d[radar]-a[radar]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"radar\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 15, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 10, name = \"electronic-circuit\", type = \"item\"}, {amount = 10, name = \"pipe\", type = \"item\"}, {amount = 10, name = \"stone-brick\", type = \"item\"}}, localised_description = {\"recipe-description.oil-refinery\"}, localised_name = {\"entity-name.oil-refinery\"}, name = \"oil-refinery\", order = \"d[refinery]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"oil-refinery\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.rocket-launcher\"}, localised_name = {\"item-name.rocket-launcher\"}, name = \"rocket-launcher\", order = \"d[rocket-launcher]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"rocket-launcher\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"iron-plate\", type = \"item\"}, {amount = 1, name = \"explosives\", type = \"item\"}, {amount = 1, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.rocket\"}, localised_name = {\"item-name.rocket\"}, name = \"rocket\", order = \"d[rocket-launcher]-a[basic]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"rocket\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"explosives\", type = \"item\"}, {amount = 1, name = \"rocket\", type = \"item\"}}, localised_description = {\"recipe-description.explosive-rocket\"}, localised_name = {\"item-name.explosive-rocket\"}, name = \"explosive-rocket\", order = \"d[rocket-launcher]-b[explosive]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"explosive-rocket\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 50, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"explosives\", type = \"item\"}, {amount = 10, name = \"rocket-control-unit\", type = \"item\"}, {amount = 30, name = \"uranium-235\", type = \"item\"}}, localised_description = {\"recipe-description.atomic-bomb\"}, localised_name = {\"item-name.atomic-bomb\"}, name = \"atomic-bomb\", order = \"d[rocket-launcher]-c[atomic-bomb]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"atomic-bomb\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"copper-plate\", type = \"item\"}, {amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 15, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.solar-panel\"}, localised_name = {\"entity-name.solar-panel\"}, name = \"solar-panel\", order = \"d[solar-panel]-a[solar-panel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"solar-panel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"smelting\", emissions_multiplier = 1, energy = 16, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"iron-plate\", type = \"item\"}}, localised_description = {\"recipe-description.steel-plate\"}, localised_name = {\"item-name.steel-plate\"}, name = \"steel-plate\", order = \"d[steel-plate]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"steel-plate\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"battery\", type = \"item\"}}, localised_description = {\"recipe-description.accumulator\"}, localised_name = {\"entity-name.accumulator\"}, name = \"accumulator\", order = \"e[accumulator]-a[accumulator]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"accumulator\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.belt-immunity-equipment\"}, localised_name = {\"equipment-name.belt-immunity-equipment\"}, name = \"belt-immunity-equipment\", order = \"e[belt-immunity]-a[belt-immunity]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"belt-immunity-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}, {amount = 5, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.chemical-plant\"}, localised_name = {\"entity-name.chemical-plant\"}, name = \"chemical-plant\", order = \"e[chemical-plant]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"chemical-plant\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 15, group = {__self = \"userdata\"}, ingredients = {{amount = 3, name = \"advanced-circuit\", type = \"item\"}, {amount = 4, name = \"defender-capsule\", type = \"item\"}}, localised_description = {\"recipe-description.distractor-capsule\"}, localised_name = {\"item-name.distractor-capsule\"}, name = \"distractor-capsule\", order = \"e[defender-capsule]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"distractor-capsule\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.electric-energy-interface\"}, localised_name = {\"entity-name.electric-energy-interface\"}, name = \"electric-energy-interface\", order = \"e[electric-energy-interface]-b[electric-energy-interface]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"electric-energy-interface\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}, {amount = 3, name = \"copper-cable\", type = \"item\"}}, localised_description = {\"recipe-description.electronic-circuit\"}, localised_name = {\"item-name.electronic-circuit\"}, name = \"electronic-circuit\", order = \"e[electronic-circuit]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"electronic-circuit\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"processing-unit\", type = \"item\"}, {amount = 30, name = \"electric-engine-unit\", type = \"item\"}}, localised_description = {\"recipe-description.exoskeleton-equipment\"}, localised_name = {\"equipment-name.exoskeleton-equipment\"}, name = \"exoskeleton-equipment\", order = \"e[exoskeleton]-a[exoskeleton-equipment]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"exoskeleton-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 4, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"fast-inserter\", type = \"item\"}}, localised_description = {\"recipe-description.filter-inserter\"}, localised_name = {\"entity-name.filter-inserter\"}, name = \"filter-inserter\", order = \"e[filter-inserter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"filter-inserter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"iron-gear-wheel\", type = \"item\"}}, localised_description = {\"recipe-description.flamethrower\"}, localised_name = {\"item-name.flamethrower\"}, name = \"flamethrower\", order = \"e[flamethrower]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"flamethrower\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 6, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"steel-plate\", type = \"item\"}, {amount = 100, name = \"crude-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.flamethrower-ammo\"}, localised_name = {\"item-name.flamethrower-ammo\"}, name = \"flamethrower-ammo\", order = \"e[flamethrower]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"flamethrower-ammo\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"heavy-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.lubricant\"}, localised_name = {\"fluid-name.lubricant\"}, name = \"lubricant\", order = \"e[lubricant]\", overload_multiplier = 0, products = {{amount = 10, name = \"lubricant\", probability = 1, type = \"fluid\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 25, group = {__self = \"userdata\"}, ingredients = {{amount = 60, name = \"processing-unit\", type = \"item\"}, {amount = 40, name = \"electric-engine-unit\", type = \"item\"}, {amount = 30, name = \"low-density-structure\", type = \"item\"}, {amount = 25, name = \"speed-module-2\", type = \"item\"}, {amount = 25, name = \"effectivity-module-2\", type = \"item\"}}, localised_description = {\"recipe-description.power-armor-mk2\"}, localised_name = {\"item-name.power-armor-mk2\"}, name = \"power-armor-mk2\", order = \"e[power-armor-mk2]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"power-armor-mk2\", probability = 1, type = \"item\"}}, request_paste_multiplier = 1, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 21, group = {__self = \"userdata\"}, ingredients = {{amount = 30, name = \"rail\", type = \"item\"}, {amount = 1, name = \"electric-furnace\", type = \"item\"}, {amount = 1, name = \"productivity-module\", type = \"item\"}}, localised_description = {\"recipe-description.production-science-pack\"}, localised_name = {\"item-name.production-science-pack\"}, name = \"production-science-pack\", order = \"e[production-science-pack]\", overload_multiplier = 0, products = {{amount = 3, catalyst_amount = 0, name = \"production-science-pack\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"steel-plate\", type = \"item\"}, {amount = 45, name = \"battery\", type = \"item\"}, {amount = 40, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 10, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.personal-roboport-equipment\"}, localised_name = {\"equipment-name.personal-roboport-equipment\"}, name = \"personal-roboport-equipment\", order = \"e[robotics]-a[personal-roboport-equipment]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"personal-roboport-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 20, group = {__self = \"userdata\"}, ingredients = {{amount = 100, name = \"processing-unit\", type = \"item\"}, {amount = 20, name = \"low-density-structure\", type = \"item\"}, {amount = 5, name = \"personal-roboport-equipment\", type = \"item\"}}, localised_description = {\"recipe-description.personal-roboport-mk2-equipment\"}, localised_name = {\"equipment-name.personal-roboport-mk2-equipment\"}, name = \"personal-roboport-mk2-equipment\", order = \"e[robotics]-b[personal-roboport-mk2-equipment]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"personal-roboport-mk2-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 30, group = {__self = \"userdata\"}, ingredients = {{amount = 1000, name = \"steel-plate\", type = \"item\"}, {amount = 200, name = \"processing-unit\", type = \"item\"}, {amount = 200, name = \"electric-engine-unit\", type = \"item\"}, {amount = 100, name = \"pipe\", type = \"item\"}, {amount = 1000, name = \"concrete\", type = \"item\"}}, localised_description = {\"recipe-description.rocket-silo\"}, localised_name = {\"entity-name.rocket-silo\"}, name = \"rocket-silo\", order = \"e[rocket-silo]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"rocket-silo\", probability = 1, type = \"item\"}}, request_paste_multiplier = 1, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 6, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"plastic-bar\", type = \"item\"}, {amount = 4, name = \"copper-cable\", type = \"item\"}, {amount = 2, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.advanced-circuit\"}, localised_name = {\"item-name.advanced-circuit\"}, name = \"advanced-circuit\", order = \"f[advanced-circuit]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"advanced-circuit\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 15, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"speed-module\", type = \"item\"}, {amount = 4, name = \"distractor-capsule\", type = \"item\"}}, localised_description = {\"recipe-description.destroyer-capsule\"}, localised_name = {\"item-name.destroyer-capsule\"}, name = \"destroyer-capsule\", order = \"f[destroyer-capsule]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"destroyer-capsule\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"steel-plate\", type = \"item\"}, {amount = 2, name = \"explosives\", type = \"item\"}}, localised_description = {\"recipe-description.land-mine\"}, localised_name = {\"entity-name.land-mine\"}, name = \"land-mine\", order = \"f[land-mine]\", overload_multiplier = 0, products = {{amount = 4, catalyst_amount = 0, name = \"land-mine\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"advanced-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.night-vision-equipment\"}, localised_name = {\"equipment-name.night-vision-equipment\"}, name = \"night-vision-equipment\", order = \"f[night-vision]-a[night-vision-equipment]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"night-vision-equipment\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 8, group = {__self = \"userdata\"}, ingredients = {{amount = 500, name = \"copper-plate\", type = \"item\"}, {amount = 500, name = \"steel-plate\", type = \"item\"}, {amount = 500, name = \"advanced-circuit\", type = \"item\"}, {amount = 500, name = \"concrete\", type = \"item\"}}, localised_description = {\"recipe-description.nuclear-reactor\"}, localised_name = {\"entity-name.nuclear-reactor\"}, name = \"nuclear-reactor\", order = \"f[nuclear-energy]-a[reactor]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"nuclear-reactor\", probability = 1, type = \"item\"}}, request_paste_multiplier = 1, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 3, group = {__self = \"userdata\"}, ingredients = {{amount = 100, name = \"copper-plate\", type = \"item\"}, {amount = 10, name = \"steel-plate\", type = \"item\"}, {amount = 10, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.heat-exchanger\"}, localised_name = {\"entity-name.heat-exchanger\"}, name = \"heat-exchanger\", order = \"f[nuclear-energy]-b[heat-exchanger]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"heat-exchanger\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"copper-plate\", type = \"item\"}, {amount = 10, name = \"steel-plate\", type = \"item\"}}, localised_description = {\"recipe-description.heat-pipe\"}, localised_name = {\"entity-name.heat-pipe\"}, name = \"heat-pipe\", order = \"f[nuclear-energy]-c[heat-pipe]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"heat-pipe\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"coal\", type = \"item\"}, {amount = 20, name = \"petroleum-gas\", type = \"fluid\"}}, localised_description = {\"recipe-description.plastic-bar\"}, localised_name = {\"item-name.plastic-bar\"}, name = \"plastic-bar\", order = \"f[plastic-bar]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"plastic-bar\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 15, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 15, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"advanced-circuit\", type = \"item\"}, {amount = 1, name = \"fast-inserter\", type = \"item\"}}, localised_description = {\"recipe-description.stack-inserter\"}, localised_name = {\"entity-name.stack-inserter\"}, name = \"stack-inserter\", order = \"f[stack-inserter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"stack-inserter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 21, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"processing-unit\", type = \"item\"}, {amount = 1, name = \"flying-robot-frame\", type = \"item\"}, {amount = 3, name = \"low-density-structure\", type = \"item\"}}, localised_description = {\"recipe-description.utility-science-pack\"}, localised_name = {\"item-name.utility-science-pack\"}, name = \"utility-science-pack\", order = \"f[utility-science-pack]\", overload_multiplier = 0, products = {{amount = 3, catalyst_amount = 0, name = \"utility-science-pack\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 4, group = {__self = \"userdata\"}, ingredients = {{amount = 50, name = \"steel-plate\", type = \"item\"}, {amount = 100, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 100, name = \"advanced-circuit\", type = \"item\"}, {amount = 100, name = \"concrete\", type = \"item\"}}, localised_description = {\"recipe-description.centrifuge\"}, localised_name = {\"entity-name.centrifuge\"}, name = \"centrifuge\", order = \"g[centrifuge]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"centrifuge\", probability = 1, type = \"item\"}}, request_paste_multiplier = 10, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 2, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 10, name = \"electronic-circuit\", type = \"item\"}, {amount = 4, name = \"transport-belt\", type = \"item\"}}, localised_description = {\"recipe-description.lab\"}, localised_name = {\"entity-name.lab\"}, name = \"lab\", order = \"g[lab]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"lab\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"electronic-circuit\", type = \"item\"}, {amount = 2, name = \"advanced-circuit\", type = \"item\"}, {amount = 5, name = \"sulfuric-acid\", type = \"fluid\"}}, localised_description = {\"recipe-description.processing-unit\"}, localised_name = {\"item-name.processing-unit\"}, name = \"processing-unit\", order = \"g[processing-unit]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"processing-unit\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"stack-inserter\", type = \"item\"}}, localised_description = {\"recipe-description.stack-filter-inserter\"}, localised_name = {\"entity-name.stack-filter-inserter\"}, name = \"stack-filter-inserter\", order = \"g[stack-filter-inserter]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"stack-filter-inserter\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 1, group = {__self = \"userdata\"}, ingredients = {{amount = 30, name = \"water\", type = \"fluid\"}, {amount = 30, name = \"petroleum-gas\", type = \"fluid\"}}, localised_description = {\"recipe-description.sulfur\"}, localised_name = {\"item-name.sulfur\"}, name = \"sulfur\", order = \"g[sulfur]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"sulfur\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 4, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}, {amount = 1, name = \"copper-plate\", type = \"item\"}, {amount = 20, name = \"sulfuric-acid\", type = \"fluid\"}}, localised_description = {\"recipe-description.battery\"}, localised_name = {\"item-name.battery\"}, name = \"battery\", order = \"h[battery]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"battery\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"advanced-crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"steel-plate\", type = \"item\"}, {amount = 1, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 2, name = \"pipe\", type = \"item\"}}, localised_description = {\"recipe-description.engine-unit\"}, localised_name = {\"item-name.engine-unit\"}, name = \"engine-unit\", order = \"h[engine-unit]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"engine-unit\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 2, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"engine-unit\", type = \"item\"}, {amount = 15, name = \"lubricant\", type = \"fluid\"}}, localised_description = {\"recipe-description.electric-engine-unit\"}, localised_name = {\"item-name.electric-engine-unit\"}, name = \"electric-engine-unit\", order = \"i[electric-engine-unit]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"electric-engine-unit\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"chemistry\", emissions_multiplier = 1, energy = 4, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"coal\", type = \"item\"}, {amount = 1, name = \"sulfur\", type = \"item\"}, {amount = 10, name = \"water\", type = \"fluid\"}}, localised_description = {\"recipe-description.explosives\"}, localised_name = {\"item-name.explosives\"}, name = \"explosives\", order = \"j[explosives]\", overload_multiplier = 0, products = {{amount = 2, catalyst_amount = 0, name = \"explosives\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"centrifuging\", emissions_multiplier = 1, energy = 12, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"uranium-ore\", type = \"item\"}}, localised_description = {\"recipe-description.uranium-processing\"}, localised_name = {\"recipe-name.uranium-processing\"}, name = \"uranium-processing\", order = \"k[uranium-processing]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"uranium-235\", probability = 0.0070000000000000009, type = \"item\"}, {amount = 1, catalyst_amount = 0, name = \"uranium-238\", probability = 0.99299999999999997, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 20, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"steel-plate\", type = \"item\"}, {amount = 2, name = \"battery\", type = \"item\"}, {amount = 3, name = \"electronic-circuit\", type = \"item\"}, {amount = 1, name = \"electric-engine-unit\", type = \"item\"}}, localised_description = {\"recipe-description.flying-robot-frame\"}, localised_name = {\"item-name.flying-robot-frame\"}, name = \"flying-robot-frame\", order = \"l[flying-robot-frame]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"flying-robot-frame\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 5, group = {__self = \"userdata\"}, ingredients = {{amount = 100, name = \"processing-unit\", type = \"item\"}, {amount = 100, name = \"low-density-structure\", type = \"item\"}, {amount = 50, name = \"rocket-fuel\", type = \"item\"}, {amount = 100, name = \"solar-panel\", type = \"item\"}, {amount = 100, name = \"accumulator\", type = \"item\"}, {amount = 5, name = \"radar\", type = \"item\"}}, localised_description = {\"recipe-description.satellite\"}, localised_name = {\"item-name.satellite\"}, name = \"satellite\", order = \"m[satellite]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"satellite\", probability = 1, type = \"item\"}}, request_paste_multiplier = 1, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 30, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"processing-unit\", type = \"item\"}, {amount = 1, name = \"speed-module\", type = \"item\"}}, localised_description = {\"recipe-description.rocket-control-unit\"}, localised_name = {\"item-name.rocket-control-unit\"}, name = \"rocket-control-unit\", order = \"n[rocket-control-unit]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"rocket-control-unit\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 20, group = {__self = \"userdata\"}, ingredients = {{amount = 20, name = \"copper-plate\", type = \"item\"}, {amount = 2, name = \"steel-plate\", type = \"item\"}, {amount = 5, name = \"plastic-bar\", type = \"item\"}}, localised_description = {\"recipe-description.low-density-structure\"}, localised_name = {\"item-name.low-density-structure\"}, name = \"low-density-structure\", order = \"o[rocket-structure]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"low-density-structure\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting-with-fluid\", emissions_multiplier = 1, energy = 30, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"solid-fuel\", type = \"item\"}, {amount = 10, name = \"light-oil\", type = \"fluid\"}}, localised_description = {\"recipe-description.rocket-fuel\"}, localised_name = {\"item-name.rocket-fuel\"}, name = \"rocket-fuel\", order = \"p[rocket-fuel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"rocket-fuel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"rocket-building\", emissions_multiplier = 1, energy = 3, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"rocket-control-unit\", type = \"item\"}, {amount = 10, name = \"low-density-structure\", type = \"item\"}, {amount = 10, name = \"rocket-fuel\", type = \"item\"}}, localised_description = {\"recipe-description.rocket-part\"}, localised_name = {\"item-name.rocket-part\"}, name = \"rocket-part\", order = \"q[rocket-part]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"rocket-part\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"centrifuging\", emissions_multiplier = 1, energy = 90, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"rocket-fuel\", type = \"item\"}, {amount = 1, name = \"uranium-235\", type = \"item\"}}, localised_description = {\"recipe-description.nuclear-fuel\"}, localised_name = {\"item-name.nuclear-fuel\"}, name = \"nuclear-fuel\", order = \"q[uranium-rocket-fuel]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"nuclear-fuel\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 10, group = {__self = \"userdata\"}, ingredients = {{amount = 10, name = \"iron-plate\", type = \"item\"}, {amount = 1, name = \"uranium-235\", type = \"item\"}, {amount = 19, name = \"uranium-238\", type = \"item\"}}, localised_description = {\"recipe-description.uranium-fuel-cell\"}, localised_name = {\"item-name.uranium-fuel-cell\"}, name = \"uranium-fuel-cell\", order = \"r[uranium-processing]-a[uranium-fuel-cell]\", overload_multiplier = 0, products = {{amount = 10, catalyst_amount = 0, name = \"uranium-fuel-cell\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"centrifuging\", emissions_multiplier = 1, energy = 60, group = {__self = \"userdata\"}, ingredients = {{amount = 5, name = \"used-up-uranium-fuel-cell\", type = \"item\"}}, localised_description = {\"recipe-description.nuclear-fuel-reprocessing\"}, localised_name = {\"recipe-name.nuclear-fuel-reprocessing\"}, name = \"nuclear-fuel-reprocessing\", order = \"r[uranium-processing]-b[nuclear-fuel-reprocessing]\", overload_multiplier = 0, products = {{amount = 3, catalyst_amount = 0, name = \"uranium-238\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"centrifuging\", emissions_multiplier = 1, energy = 60, group = {__self = \"userdata\"}, ingredients = {{amount = 40, name = \"uranium-235\", type = \"item\"}, {amount = 5, name = \"uranium-238\", type = \"item\"}}, localised_description = {\"recipe-description.kovarex-enrichment-process\"}, localised_name = {\"recipe-name.kovarex-enrichment-process\"}, name = \"kovarex-enrichment-process\", order = \"r[uranium-processing]-c[kovarex-enrichment-process]\", overload_multiplier = 0, products = {{amount = 41, catalyst_amount = 0, name = \"uranium-235\", probability = 1, type = \"item\"}, {amount = 2, catalyst_amount = 0, name = \"uranium-238\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.discharge-defense-remote\"}, localised_name = {\"item-name.discharge-defense-remote\"}, name = \"discharge-defense-remote\", order = \"z\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"discharge-defense-remote\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"iron-plate\", type = \"item\"}, {amount = 5, name = \"iron-gear-wheel\", type = \"item\"}, {amount = 10, name = \"electronic-circuit\", type = \"item\"}}, localised_description = {\"recipe-description.player-port\"}, localised_name = {\"entity-name.player-port\"}, name = \"player-port\", order = \"z[not-used]\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"player-port\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}} {category = \"crafting\", emissions_multiplier = 1, energy = 0.5, group = {__self = \"userdata\"}, ingredients = {{amount = 1, name = \"processing-unit\", type = \"item\"}, {amount = 1, name = \"radar\", type = \"item\"}}, localised_description = {\"recipe-description.artillery-targeting-remote\"}, localised_name = {\"item-name.artillery-targeting-remote\"}, name = \"artillery-targeting-remote\", order = \"zz\", overload_multiplier = 0, products = {{amount = 1, catalyst_amount = 0, name = \"artillery-targeting-remote\", probability = 1, type = \"item\"}}, request_paste_multiplier = 30, show_amount_in_title = true, subgroup = {__self = \"userdata\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["f078b8d.511ca48"]]},{"id":"63455079.3385a","type":"fileinject","z":"3e5fc9a5.1f6226","name":"","x":120,"y":140,"wires":[["e5b0ed18.d4071"]]},{"id":"f078b8d.511ca48","type":"change","z":"3e5fc9a5.1f6226","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"(?:{amount\\s+=\\s+(\\d+),\\s+)(?:catalyst_amount\\s+=\\s+(\\d+),\\s+)?(?:fluidbox_index\\s+=\\s+(\\d+),\\s+)?(?:name\\s+=\\s+\"([A-Za-z-\\d]+)\",\\s+)(?:probability\\s+=\\s+(\\d+(?:.\\d+)?),\\s+)?(?:type\\s+=\\s+\"([A-Za-z-\\d]+)\")}","fromt":"re","to":"\"$4\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[["41b09df4.70da54"]]},{"id":"41b09df4.70da54","type":"change","z":"3e5fc9a5.1f6226","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"{(?:category\\s+=\\s+\"([a-z-\",\\s\\d]+)\",\\s+)(?:emissions_multiplier\\s+=\\s+(\\d+(?:.\\d+)?),\\s+)(?:energy\\s+=\\s+(\\d+(?:.\\d+)?),\\s+)(?:group\\s+=\\s+{([a-z-\",_=\\s\\d]+)},\\s+)(?:ingredients\\s+=\\s+{([a-z-\",\\s\\d]+)},\\s+)(?:localised_description\\s+=\\s+{\"([a-z-\",.\\s\\d]+)\"},\\s+)(?:localised_name\\s+=\\s+{\"([a-z-\",.\\s\\d]+)\"(?:,\\s+{\"([a-z-\",.\\s\\d])+\"})?},\\s+)(?:name\\s+=\\s+\"([a-z-\",\\s\\d]+)\",\\s+)(?:order\\s+=\\s+\"([a-z-\\[\\]\\s\\d]+)\",\\s+)(?:overload_multiplier\\s+=\\s+(\\d+(?:.\\d+)?),\\s+)(?:products\\s+=\\s+{([a-z-\",\\s\\d]+)},\\s+)(?:request_paste_multiplier\\s+=\\s+(\\d+(?:.\\d+)?),\\s+)(?:show_amount_in_title\\s+=\\s+([a-z\\s]+),\\s+)(?:subgroup\\s+=\\s+{([a-z-\",_=\\s\\d]+)})}","fromt":"re","to":"{\"label\": \"$9\", \"category\": \"$1\", \"emissions_multiplier\": $2, \"energy\": $3, \"ingredients\": [$5], \"localised_name\": \"$7\", \"order\": \"$10\", \"overload_multiplier\": $11, \"products\": [$12], \"request_paste_multiplier\": $13, \"show_amount_in_title\": $14},","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["4d8bccc7.f6b2c4"]]},{"id":"4d8bccc7.f6b2c4","type":"change","z":"3e5fc9a5.1f6226","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"([\\s\\S]+)","fromt":"re","to":"{\"elements\": [$1]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":200,"wires":[["92d4735c.27726"]]},{"id":"92d4735c.27726","type":"change","z":"3e5fc9a5.1f6226","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"(,\\]})","fromt":"re","to":"]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["d47d5d29.4a28f"]]},{"id":"e5b0ed18.d4071","type":"join","z":"3e5fc9a5.1f6226","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":140,"wires":[["f078b8d.511ca48"]]},{"id":"d47d5d29.4a28f","type":"file","z":"3e5fc9a5.1f6226","name":"","filename":"/share/factoriorecipes.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":890,"y":260,"wires":[["ce629d4f.091a9"]]}]